/* shared rules */
html.person {
    background-color: white;
}

/*rules for phone */
@media only screen and (max-width: 480px)
{
    div.container {
        background-color: bisque;
        border-style: solid;
        border-color: black;
        border-width: thin;
    }
}

/*rules for tablets */

@media only screen and (min-width: 481px) and (max-width: 768px)
{
    div.container {
        background-color: bisque;
        border-style: solid;
        border-color: black;
        border-width: medium;
    }
}

/*rules for desktops */

@media only screen and (min-width: 769px)
{
    .container {
        /*background-color: bisque;*/
        border-style: solid;
        border-color: black;
        border-width: thick;

        display: grid;
        justify-items: center;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "toDo" "inProg" "done";
    }

    .item {
        min-height: 200px;
    }

    div.container div.toDo {
        grid-area: toDo;
        min-height: 50px;
        grid-row: 1;
        grid-column: 1;
        background-color: rgba(237, 88, 88, 0.85)
    }

    div.inProg {
        grid-area: inProg;
        min-height: 50px;
        grid-row: 1;
        grid-column: 2;
        background-color: rgba(255, 240, 77, 0.85);
    }

    div.done {
        grid-area: done;
        min-height: 50px;
        grid-row: 1;
        grid-column: 3;
        background-color: rgba(154, 255, 76, 0.85);
    }
}
